[settings]
ps_aors => mysql,asterisk,${ASTERISK_AORS_TABLE}
ps_auths => mysql,asterisk,${ASTERISK_AUTHS_TABLE}
ps_contacts => mysql,asterisk,${ASTERISK_CONTACTS_TABLE}
ps_domain_aliases => mysql,asterisk,${ASTERISK_DOMAIN_ALIASES_TABLE}
ps_endpoint_id_ips => mysql,asterisk,${ASTERISK_ENDPOINT_ID_IPS_TABLE}
ps_endpoints => mysql,asterisk,${ASTERISK_ENDPOINTS_TABLE}
ps_registrations => mysql,asterisk,${ASTERISK_REGISTRATIONS_TABLE}
